.home-page {
  display: flex;
  flex-direction: column;
}

.home-page__title {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -3px;
  text-align: center;
  margin: 1em 0;
}

.home-page__link {
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: -2px;
  text-align: center;
  margin: 0.5em 0;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }
}
