$header-bg-color: #111111;
$header-title-text-color: #ffffff;
$header-title-link-color: #ffffff;
$header-title-link-hover-color: #00A6ED;

$content-bg-color:#f2f5fa;

.submodule-page {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100vh;
  overflow-y: auto;
}

.submodule-page__header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: $header-bg-color;
  padding: 1em 2em;
}

.submodule-page__title {
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  color: $header-title-text-color;
  padding: 0 2em;
}

.submodule-page__back {
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: -2px;
  text-align: left;
  margin: 0.5em 0;
  color: $header-title-link-color;
  cursor: pointer;
  padding: 0 2em;


  &:hover {
    color: $header-title-link-hover-color;
  }
}

.submodule-page__content {
  flex-grow: 1;
  background-color: $content-bg-color;
  padding: 2em;
}
